@font-face {
	font-family: 'SF UI Display Regular';
	src: url('../fonts/sf_ui_display_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/sf_ui_display_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/sf_ui_display_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/sf_ui_display_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/sf_ui_display_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/sf_ui_display_regular.svg#sf_ui_display_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'SF UI Display Bold';
	src: url('../fonts/sf_ui_display_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/sf_ui_display_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/sf_ui_display_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/sf_ui_display_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/sf_ui_display_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/sf_ui_display_bold.svg#sf_ui_display_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'SF UI Text Bold Italic';
	src: url('../fonts/sf_ui_text_bold_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/sf_ui_text_bold_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/sf_ui_text_bold_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/sf_ui_text_bold_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/sf_ui_text_bold_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/sf_ui_text_bold_italic.svg#sf_ui_text_bold_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

    /*Стилизация шрифтов начало*/



.callback_popup_fade {
    display: none;
    position: fixed;
    background-color: #0000009b;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    top: 55px;
}


.callback_popup_box{
    z-index: -1;
    z-index: -1;
    width: 100px;
    height: 100px;
    position: relative;
    left: 30px;
}

.callback_popup_content{
    z-index: -1;
    width: 100px;
    height: 100px;
}


.callback_popup_fade.active {
    display: block;
}

.callback_popup {
	position: fixed;
    height: 600px;
	width: 1200px;
    margin: 0 auto;
	background: #00000000;
    content: '';
    opacity: 0.7;
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
    height: 900px;
    left: 100px;
}

.callback_popup_clouse{
    color: #000;
}


.callback_popup_clouse {
    position: absolute;
    left: 850px ;
    top: 30px;
}
.callback_popup__placeholder {
width: 300px;
position: relative;
top: 50px;
}
.callback_popup__inputText {
    color: #525252;
    width: 800px;
    position: relative;
    bottom: 50px;
}   
.callback_popup_inputName {
    width: 350px;
    height: 30px;
}
.callback_popup_inputMailr {
    width: 350px;
    margin-top: 15px;
    height: 30px;

}
.callback_popup_inputNumber {
    height: 30px;
    width: 350px;
    margin-top: 15px;


}
.inputCall {
    width: 350px;
}


.callback_popup_box {
    width: 1200px;
    margin: 0 auto;
}

.callback_popup_redbox{
    background-color: #ffff;
    margin: 0 auto;
    width: 900px;
    height: 600px;
    position: relative;
    top: 25px;
    border-radius: 5px;
}

.callback_container{
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}


.callback_popup_content{
    width: 1000px;
    height: 650px;
    background-color: #992928;
    border-radius: 5px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    display: flex;
}




.callback_popup_title {
    font-size: 35px;
    color: #992928;
    font-family: 'SF UI Display Bold';
    width: 500px;
    position: relative;
    top: -10px;
}




    body {
        font-family: 'SF UI Display Regular';

        margin: 0 auto;
    }
    .logo{font-family: 'SF UI Text Bold Italic';}
    .contactsTitle {
       font-family: 'SF UI Display Bold';
    }



     /*Стилизация шрифтов конец*/
    









     header{
        width: 100%;
        height: 55px;
        margin: 0 auto;
        background-color: #9B9B9B;
        position: fixed;
        z-index: 999999;
        top: 0;
    }
    
a{
    text-decoration: none;
    color: #FFFF;
}

a:hover{
    color: #922727;
    transition: 0.3s;
}

    .header-menu{
        width: 1200px;
        margin: 0 auto;
    }
    
    .header-menu::before{
    width: 100%;
    height: 100%;
    }
    
    
    
    .logo{
        font-family: 'SF UI Text Bold Italic';
        font-size: 43px;
        color: #992928;
    }
    
    ul{
        display: flex;
        margin-left: 190px;
        text-decoration: none;
        font-family: 'SF UI Display Regular';
        position: relative;
        bottom: 50px;
    
    
    }
    
    li{
        padding-left: 50px;
        list-style-type: none;
        color: #FEFEFE;

    }
    
    li:hover{
        color: #992928;
        transition: 0.3s;
    
    }
    
    .call{
        border-radius: 30px;
        color: #FEFEFE;
        background-color: #9B9B9B;
        border: 2px solid #FEFEFE;
        font-size: 12px;
        padding: 12px 15px;
        position: relative;
        left: 1015px;
        bottom: 97px;
    
    }
    
    
    .call:hover{
        color: #992928;
        border: 1px solid #992928;
        transition: 0.3s;
    
    }








.contactsContainer{
    width: 1200px;
    margin: 0 auto;
}

.contactsTitle {
    color: #992928;
    font-size: 72px;
    margin-top: 100px;
    margin-left: 31px;
    
}

.contactsBox {
    display: flex;
    margin-top: 100px;
    margin-left: 34px;
}

.textColor{
    font-size: 18px;
    color: #992928;
}

.contactText {
 margin-left: 130px;
 margin-bottom: 80px;
}


.tg{
    width: 40px;
    margin-bottom: 50px;
    margin-left: 34px;
}
.map_two {
    width: 1200px;
    height: 644px;
    margin-top: 141px;
}

























.form{
    margin-top: 50px;
    margin-left: 34px;
}

input{
    width: 505px;
    height: 40px;
    color: #c3c3c3;
    padding-left: 10px;
    border: 1px solid #c3c3c3;
    margin-top: 40px;
}


.buttonForm{
    width: 290px;
    height: 40px;
    background-color: #992928;
    margin-top: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 34px;
}

.buttonForm:hover{
    background-color: #9B9B9B;
    border: 1px solid #922727;
    transform: 0.3s;
}

.contactbox{ 
    display: flex;
}

.holder{
    margin-left: 213px;
}

.inputCall {
    margin-top: 40px;
    background-color: #992928;
    color: #FFFF;
    border: 0;
    width: 290px;
    height: 40px;
}

.inputCall:hover{
    background-color: #9B9B9B;
    color: #992928;
    transition: 0.3s;
}





.namePlaceholder {
    width: 505px;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;

}
.numberPlaceholder {
    margin-top: 15px;
    width: 505px;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #DEDEDE;
    display: block;
    box-sizing: border-box;
}





.mailPlaceholder {
    margin-top: 15px;
    width: 505px;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #DEDEDE;
    display: block;
    box-sizing: border-box;
   
}
.massagePlaceholder {
    width: 505px;
    height: 80px;
    padding-left: 20px;
    border: 1px solid #DEDEDE;
    margin-top: 15px;
    padding-top: 10px;
    font-size: 15px;
    resize: none;
    display: block;
    box-sizing: border-box;

}
.title_contact_us {
    color: #922727;
    font-size: 72px;
    font-family: 'SF UI Display Bold';
    margin-top: 60px;
    margin-left: 34px;
}






















/**
footer{
    margin-top: 1px;
    width: 100%;
    height: 200px;
    background-color: #9B9B9B;
}

.navbarFooter{

    width: 600px;
    margin: 0 auto;
    position: relative;
    top: 50%;
}

.logoFooter{
    font-size: 48px;
    color: #992928;
    position: relative;
    top: 70px;
}

.tgFooter{
    margin-left: 1155px;
}

.footer_icons {
    margin-left: 1155px;
    display: flex;
    color: #992928;
    font-size: 30px;
}

.footer_icons_link
{
       margin-left: 5px;
       color: #922727;
}


.nav_btn {
    display: none;
    outline: none; /* Для синий ободки 
    border: 0;
    background: transparent;
}

*/

.nav_btn {
    display: none;
}


.foot{
    width: 1200px;
    margin: 0 auto;
}

footer {
 
    height: 250px;
    background: #949494;
    position: relative;
    top: 120px;
}
.foot_content {
    display: flex;
    margin: 0 auto;
    width: 1280px;
}
.footer_links {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
    margin-top: 60px;
    line-height: 25px;
    position: relative;
    left: 50px;
}

.logo_footer {
    margin-left: 21px;
    font-size: 70px;
    color: #922727;
    font-family: 'SF UI Text Bold Italic';
}
.footer_info {
    margin-left: 275px;
    position: relative;
    left: 100px;
    top: 55px;
    height: 100px;
}

.footer-tg{
    color: #992928;
}

.tg-link{
    color: #922727;
}

.footer-text{
    cursor: pointer;
    font-size: 14px;
    color: #FFFF;
}






.logoMob{
    display: none;
}










@media (max-width: 1280px) {
    footer {
        width: 1280px;
    }
}






@media (max-width: 1000px) {

footer {
    width: 100%;
    height: 100%;
}



}









@media (max-width: 1000px) {
 
    .logoMob{
        display: block;
        font-size: 50px;
        position: fixed;
        top: -50px;
        color: #922727;
    }
    
    .contactsContainer{
        position: relative;
        top: 50px;
    }

    .contactsBox {
        flex-direction: column;
        margin-top: -20px;
        font-size: 14px;
    }
    .contactsTitle,.contactsBox {
        margin-left: 13px;

    }
    .contactsTitle {
        margin-top: 10px;
        font-size: 30px;
    }
    .contactText {
        margin-left: 0;
        margin-bottom: 0;
    }
    .contactText_ {
        margin-bottom: 0;
    }
    .tg {
        margin-left: 17px;
        margin-top: 20px;
        margin-bottom: 23px;
        width: 21px;
    }
    .map_two {
        width: 320px;
        height: 296px; 
        margin-top: 23px;
    }
    .namePlaceholder, .numberPlaceholder, .mailPlaceholder {
        width: 290px;
        height: 40px;
    }
    .massagePlaceholder {
        width: 290px;
        height: 80px;
    }
    .form {
        margin-left: 15px;
    }
    
    .holder {
        display: none;
    }
    .body { 
        width: 320px;
        overflow: hidden;
    }
    .contactsContainer {
        width: 320px;
        margin: 0 auto;
    }
    .title_contact_us {
        font-size: 30px;
        margin-left: 15px;
    }
    .buttonForm {
        margin-left: 0px;
    }

    .block_btn {
        width: 320px;
        display: flex;
        justify-content: center;
    }




/*
    footer {
        height: 100%;
        width: 100%;
    }


    */
    .header-burger{
        display: block;
        position: absolute;
        width: 45px;
        height: 3px;
        right: 0;
        top: 15px;
        z-index: 9999999999999;

    }
    .header-burger::after,
    .header-burger::before{
        content: '';
        background-color: #992928;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
    }

    .header-burger span{
        position: absolute;
        background-color: #992928;
        left: 0;
        width: 100%;
        height: 4px;
        top: 15px;
    }

    .header-burger::after{
        bottom: -9px;
    }
    .header-burger::before{
        top: 0px;

        
    }
    
    header{
        position: fixed;
        left: 0;
        background-color: #FFFF;
        z-index: 9999999;
    }



    nav{
        width: 400px;
    }
    

 
.call{
    display: none;
}

    .header-menu{
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: #992928;
       z-index: 9999;
       top: -7000px;
       transition: 0.3s;

    }

    .header-menu.active{
        top: 50px;
     }
    
    .header-menu::before{
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        z-index: 99999999;
    }
    
    
    
    ul{
        display: block;
        text-align: left;
    
    }
    
    li{
        position: relative;
        right: 190px;
        text-align: left;
        padding-top: 60px;
        font-size: 20px;
    }

    footer{
        display: block;
        position: relative;
        left: -22px;

        width: 500px;
        height: 500px;
        margin: 0 auto;
    }
    .foot_content {
        display: block;
        width: 330px;
        margin: 0 auto;

    }




    .foot {
        width: 500px;
    }
    .logo_footer {
        margin: 0 auto;
        width: 170px;
    }
    .footer_links {
        line-height: 45px;
        font-size: 20px;
    }
    .footer_info {
        display: none;
    }

    























}

