    @font-face {
    font-family: 'SF UI Text Bold Italic';
    src: url('../fonts/sf_ui_text_bold_italic.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/sf_ui_text_bold_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
      url('../fonts/sf_ui_text_bold_italic.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/sf_ui_text_bold_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
      url('../fonts/sf_ui_text_bold_italic.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/sf_ui_text_bold_italic.svg#sf_ui_text_bold_italic') format('svg'); /* Chrome < 4, Legacy iOS */
    }
    @font-face {
    font-family: 'SF UI Display Ultralight';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Ultralight'), url('sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF UI Display Thin';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Thin'), url('sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Light'), url('../fonts/fonts2/sf-ui-display-light-58646b33e0551.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF UI Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Medium'), url('../fonts/fonts2/sf-ui-display-medium-58646be638f96.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF UI Display Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Semibold'), url('sf-ui-display-semibold-58646eddcae92.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF UI Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Bold'), url('../fonts/fonts2/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF UI Display Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Heavy'), url('sf-ui-display-heavy-586470160b9e5.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF UI Display Black';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Black'), url('sf-ui-display-black-58646a6b80d5a.woff') format('woff');
    }


    /*Стилизация шрифтов начало*/

    body {       font-family: 'SF UI Display Medium';} 
    .text1, .s3_text1 {  font-family: 'SF UI Display Bold';}
    .logo{font-family: 'SF UI Text Bold Italic';}
    ul{font-family: 'SF UI Display Light';}
    .logoFooter{ font-family: 'SF UI Text Bold Italic';}


     /*Стилизация шрифтов конец*/


header{
    width: 100%;
    margin: 0 auto;
    background-color: #9B9B9B;
    margin: 0 auto;
}

nav{
    width: 1200px;
    height: 60px;
    background-color: #9B9B9B;
    margin: 0 auto;
}

.logo{
    
    font-size: 48px;
    color: #992928;
}

ul{
    display: flex;
    margin-left: 190px;
    text-decoration: none;
    
    position: relative;
    bottom: 55px;
    align-items: end;


}

li{
    padding-left: 50px;
    list-style-type: none;
    color: #FEFEFE;
}

li:hover{
    color: #992928;
    transition: 0.3s;

}

.call{
    border-radius: 30px;
    color: #FEFEFE;
    background-color: #9B9B9B;
    border: 1px solid #FEFEFE;
    font-size: 12px;
    padding: 10px;
    position: relative;
    left: 120px;
    top: 7px;
}

.basket{
    position: relative;
    left: 203px;
    top: 7px;
}

.call:hover{
    color: #992928;
    border: 1px solid #992928;
    transition: 0.3s;

}
a {
    text-decoration: none;
}


















* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.sector1 {
    width: 1280px;
    margin: 0 auto;
}
.text1 {
    font-size: 72px;
    color: #922727;
    margin-left: 31px;
    margin-top: 129px;
}
.blocks_contacts {
    display: flex;
    height: 57px;
    margin-left: 34px;
    margin-top: 93px;
}
.email {
    width: 167px;
    height: 57px;
}
.adress {
    width: 232px;
    height: 85px;
    margin-left: 121px;
}
.phone { 
    width: 222px;
    height: 57px;
    margin-left: 89px;
}
.sec1_text2 {
    text-decoration: underline gray;
    color: black;
}
.sec1_text1, .sec2_text1, .sec3_text1 {
    color: #922727;
    font-size: 16px;
    font-weight: 700;
}
.sec1_text2, .sec2_text2, .sec2_text3, .sec3_text2 {
    margin-top: 13px;
    color: black;
}
.telegram_link {
    color: black;
    margin-left: 34px;
    margin-top: 102px;
    font-size: 27px;
}
.telegram_link2 {
    color: #922727;

}
.sector2 {
    height: 833px;
}
.map {
    margin: 0 auto;
    width: 1280px;
    height: 833px;
    margin-top: 141px;
    
}
.s3_text1 {
    font-size: 72px;
    margin-left: 34px;
    color: #922727;
    margin-top: 50px;
}
.s3_block1 {
    width: 1280px;
    height: 500px;
    margin-top: 102px;
    display: flex;
}
.s3_form_block {
    margin-left: 34px;
}
.s3_block2 {
    width: 402px;
    height: 340px;
    margin-left: 213px;
    margin-top: -50px;
}
.s3_area1_text1 {
    width: 505px;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #DEDEDE;
}
.s3_area1_text2 {
    margin-top: 15px;
    width: 505px;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #DEDEDE;
}
.s3_block1_textarea {
    width: 505px;
    height: 80px;
    padding-left: 20px;
    border: 1px solid #DEDEDE;
    margin-top: 15px;
    padding-top: 10px;
    font-size: 15px;
    resize: none;
}
.btn_send {
    width: 290px;
    height: 40px;
    margin-top: 50px;
    background: #922727;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn_send_text {
    color: white;
    font-size: 14px;
}
.btn_send_link {
    text-decoration: none;
}







footer{
    margin-top: 1px;
    width: 100%;
    height: 200px;
    background-color: #9B9B9B;
}

.navbarFooter{

    width: 600px;
    margin: 0 auto;
    position: relative;
    top: 50%;
}
.logo_foot {
    
}
.logoFooter{
    font-size: 48px;
    color: #992928;
    position: relative;
    top: 70px;
}

.tgFooter{
    margin-left: 1155px;
}

.footer_icons {
    margin-left: 1155px;
    display: flex;
    color: #992928;
    font-size: 30px;
}

.footer_icons_link1, .footer_icons_link2, .footer_icons_link3 {
    color: #992928;
}
.footer_icons_link2, .footer_icons_link3 {
    margin-left: 5px;
}


.nav_button {
    display: none;
}

@media (max-width: 1230px) {
    .text1 {
        margin-left: 13px;
    }
    .body {
        margin: 0;
    }
    .navbar{
        display: none;
    }
    .nav_button {
        display: block;
    }
    .sector1, .blocks_contacts, .telegram_link { 
        flex-direction: column;
    }
    .adress, .phone { 
        margin-left: 0;
    }
    .telegram_link {
        margin-top: 50px;
    }
    .blocks_contacts {
        margin-left: 13px;
    }
}