@font-face {
    font-family: 'SF UI Text Bold Italic';
    src: url('../fonts/sf_ui_text_bold_italic.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/sf_ui_text_bold_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
      url('../fonts/sf_ui_text_bold_italic.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/sf_ui_text_bold_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
      url('../fonts/sf_ui_text_bold_italic.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/sf_ui_text_bold_italic.svg#sf_ui_text_bold_italic') format('svg'); /* Chrome < 4, Legacy iOS */
    }
    @font-face {
    font-family: 'SF UI Display Ultralight';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Ultralight'), url('sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF UI Display Thin';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Thin'), url('sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Light'), url('../fonts/fonts2/sf-ui-display-light-58646b33e0551.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF UI Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Medium'), url('../fonts/fonts2/sf-ui-display-medium-58646be638f96.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF UI Display Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Semibold'), url('sf-ui-display-semibold-58646eddcae92.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF UI Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Bold'), url('../fonts/fonts2/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF UI Display Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Heavy'), url('sf-ui-display-heavy-586470160b9e5.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF UI Display Black';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Black'), url('sf-ui-display-black-58646a6b80d5a.woff') format('woff');
    }





    body {     font-family: 'SF UI Display Medium';  } 
    .block1_text1 {font-family: 'SF UI Display Bold';}
*{
    padding: 0;
    margin: 0;
}
.container {
    margin: 0 auto;
    width: 1280px;
    font-weight: 100;
}

.block1_text1 {
    margin-top: 73px;
    color: #922727;
    font-size: 72px;
    margin-left: 27px;
}
.blocks {
    margin-top: 73px;
    margin-left: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 36px;
    
}
.blocks_1 {
    height: 391px;
    width: 400px;
    box-shadow: 0px 15px 40px rgba(25, 70, 186, 0.1);

}
.blocks1_text1 {
    line-height: 25px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.blocks1_text2 {
    width: 400px;
    height: 50px;
    margin-top: 55px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.blocks1_text2_img {
    margin-left: 110px;
    margin-bottom: 55px;
}