* {
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    margin: 0 auto;
    background-color: #9B9B9B;
    margin: 0 auto;
}

nav{
    width: 1200px;
    height: 60px;
    background-color: #9B9B9B;
    margin: 0 auto;
}

.logo{
    font-family: 'SF UI Text Bold Italic';
    font-size: 48px;
    color: #992928;
}

ul{
    display: flex;
    margin-left: 130px;
    text-decoration: none;
    font-family: 'SF UI Display Regular';
    position: relative;
    bottom: 55px;


}

li{
    padding-left: 50px;
    list-style-type: none;
    color: #FEFEFE;
}

.call{
    border-radius: 30px;
    color: #FEFEFE;
    background-color: #9B9B9B;
    border: 1px solid #FEFEFE;
    font-size: 12px;
    padding: 10px;
    position: relative;
    left: 110px;
    bottom: 9px;
}

.basket{
    position: relative;
    left: 220px;
    bottom: 9px;
}

.call:hover{
    color: #992928;
    border: 1px solid #992928;
    transition: 0.3s;

}

.container {
    width: 1280px;
    margin: 0 auto;
}


.text1 {
    color: #922727;
    font-size: 72px;
    margin-top: 106px;
    margin-left: 34px;
}
.text2 {
    margin-left: 50px;
    font-size: 19px;
    margin-top: 153px;
}